header, .mainrightside, footer,.breakrooms{
    background-color:#2b2b2b;
    color: #444;
}
header span{
    color: rgb(238, 238, 238);
}
i{
    color: rgb(65, 63, 63);
}
.mainrightside button {
    border: 1px solid rgb(36, 35, 35);
}
.footbtn button {
    border: 1px solid rgb(65, 64, 64);;
}
footer button i{
    color: rgb(90, 89, 89);
}
.breakrooms{
    background: #2b2b2b;
    border: 1px solid #444;
    color: white;
}
.col{
    color: white;
}
.breakrooms .text{
    border-color: #444;
    color: #444;
}
 .h44 ul{
     background-color: #2b2b2b;
     color: rgb(204, 203, 203);
 }

button i{
    transition: all .4s ease-in-out;
}

 button i:hover{
     color: rgb(214, 214, 214);
 }
 .breakrooms .h44,
 .mesage .headname,
 .friends .headname,
 .mesage .fotmsg ,
 .friends .fotmsg,
 .msgbody{
     background-color: #2b2b2b;
     color: rgb(202, 202, 202);
 }
 .userfriend{
    background-color: #2b2b2b;
    border-color: #363636;
}
.userfriend label{
    color: white;
}
.vidAndMessAndFri{
    background-color: #2b2b2b;
}
.mesage ,.friends{
    border-color:#2b2b2b;
}
#prev button,#next button, #meet-inf {
    background-color: #2b2b2b;
}
.meeting-info{
    background-color: #2b2b2b;
    color: white;
}
#prev button i,#next button i{
    color: white;
}
.hostmessage{
    background-color: #2b2b2b;
    border-color:rgb(233, 230, 230) ;
    color: white;
}
.particmessage{
    background-color: #168bf8;
    border-color:rgb(235, 232, 232) ;
    color: white;
}
.cards > div{
    background-color: #2b2b2b;
    border-color: #444;
    color: white;
}

