header, .mainrightside, footer,.breakrooms{
    border: 1px solid;
    background-color:#2b2b2b;
    color: #444;
}
header{
    border-radius: 0px 0px 20px 20px;
}
footer{
    border-radius: 20px 20px 0px 0px;
}
.cont{
    background-color:rgb(255, 192, 20);
}
.mainrightside{
    border: none;
}
.logo p{
    color: rgb(255, 192, 20);
}
.logo h1{
    color: white;
}
header span{
    color: rgb(238, 238, 238);
}
i{
    color: rgb(65, 63, 63);
}
.mainrightside button {
    border: 1px solid rgb(36, 35, 35);
}
.footbtn button {
    border: 1px solid rgb(65, 64, 64);;
}
footer button i{
    color: rgb(190, 188, 188);;
}
.breakrooms{
    background: #2b2b2b;
    border: 1px solid #444;
    color: white;
}
.col{
    color: white;
}
.breakrooms .text{
    border-color: #444;
    color: rgb(190, 188, 188);
}
 .h44 ul{
     background-color: #2b2b2b;
     color: rgb(204, 203, 203);
 }

button i{
    transition: all .4s ease-in-out;
    color: rgb(190, 188, 188);;
}

 button i:hover{
     color: rgb(255, 255, 255);
 }
 .breakrooms .h44,
 .mesage .headname,
 .friends .headname,
 .mesage .fotmsg ,
 .friends .fotmsg,
 .msgbody{
     background-color: #2b2b2b;
     color: rgb(202, 202, 202);
 }
 .userfriend{
    background-color: #2b2b2b;
    border-color: #363636;
}
.userfriend label{
    color: white;
}
.vidAndMessAndFri{
    background-color: #2b2b2b;
}
.mesage ,.friends{
    border-color:#2b2b2b;
}
#prev button,#next button, #meet-inf {
    background-color: #2b2b2b;
}
.meeting-info{
    background-color: #2b2b2b;
    color: white;
}
#prev button i,#next button i{
    color: white;
}
.hostmessage{
    background-color: #2b2b2b;
    border-color:rgb(233, 230, 230) ;
    color: white;
}
.particmessage{
    background-color: #168bf8;
    border-color:rgb(235, 232, 232) ;
    color: white;
}
.cards > div{
    background-color: #2b2b2b;
    border-color: #444;
    color: white;
}

