header, .mainrightside, footer,.breakrooms{
    background-color:#141414;
}

.mainrightside{
    border: none;
}
.logo p{
    color: rgb(255, 192, 20);
}
.logo h1{
    color: white;
}
header span{
    color: rgb(238, 238, 238);
}
i{
    color: rgb(65, 63, 63);
}

footer button i{
    color: rgb(231, 229, 229);;
}
.breakrooms{
    background: #2b2b2b;
    /* border: 1px solid #444; */
    color: white;
}
.col{
    color: white;
}
.breakrooms .text{
    border-color: #444;
    color: rgb(230, 224, 224);
}
 .h44 ul{
     background-color: #222222;
     color: rgb(231, 228, 228);
 }

button i{
    transition: all .4s ease-in-out;
    color: rgb(190, 188, 188);;
}

 button i:hover{
     color: rgb(255, 255, 255);
 }
 .breakrooms .h44,
 .mesage .headname,
 .friends .headname,
 .mesage .fotmsg ,
 .friends .fotmsg,
 .msgbody{
     background-color: #2b2b2b;
     color: rgb(202, 202, 202);
 }
 .userfriend{
    background-color: #2b2b2b;
    border-color: #363636;
}
.userfriend label{
    color: white;
}
.vidAndMessAndFri{
    background-color: #131313;
}
.mesage ,.friends{
    border-color:#2b2b2b;
}
#prev button,#next button, #meet-inf {
    background-color: #2b2b2b;
}
.meeting-info{
    background-color: #1b1b1b;

}
.meeting-info tr td, .meeting-info tr td button,  .meeting-info tr td i{
    background-color: transparent;
    color :white
}
.meeting-info tr td input{
    background-color: transparent;
    color: white;
}
#prev button i,#next button i{
    color: white;
}
.hostmessage{
    background-color: #2b2b2b;
    border-color:rgb(233, 230, 230) ;
    color: white;
}
.particmessage{
    background-color: #168bf8;
    border-color:rgb(235, 232, 232) ;
    color: white;
}
.cards > div{
    background-color: #2b2b2b;
    border-color: #444;
    color: white;
}
/* .ervice-controls{
    background-color: transparent;
} */
.ervice-controls button{
    background-color: transparent;
        color: white;
}
.ervice-controls button:hover{
  color: white;
}
.uservideo video{
    border: 1px solid #363636;
}
#meet-inf {
    border: none;
    background: transparent;
}

.timer label{
    color: #fff;
}
#raiseHand{
    color: #fff;
}