/** @format */

* {
    margin: 0;
    padding: 0;
}

.cont {
    display: grid;
    grid-template-columns: 70px calc(100% - 70px);
    grid-template-rows: 70px calc(100vh - 140px) 70px;
    grid-template-areas:
        'head head'
        'aside main'
        'foot foot';
}

.boxedit {
    text-align: center;
    position: relative;
    width: 100%;
}

.mainrightside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: wrap;
    width: 70px;
    padding: 30px 3px;
}

.mainrightside button {
    height: 50px;
    width: 55px;
}

.red {
    color: red;
}

.head {
    grid-area: head;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    grid-area: main;
    display: flex;
    justify-content: normal;
    height: calc(100vh - 140px);
}

.foot {
    grid-area: foot;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.username {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5px;
}

.username img {
    border: 1px solid;
    border-radius: 50%;
    margin-right: 10px;
}

.logo {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: contents;
}

.username span {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display button {
    margin: 0px 5px;
    display: block;
}

i {
    text-align: center;
    font-size: 30px;
}

.breakrooms {
    position: absolute;
    left: -270px;
    transition: all 0.5s ease-in;
    border-radius: 0px 5px 5px 0px;
    padding: 5px 10px;
    font-family: Arial;
    z-index: 5;
}

.breakrooms .text {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid;
}

.breakrooms .h44 {
    margin: 10px 0px;
    border-radius: 5px;
}

.breakroomsdisplayed {
    left: 0px;
}

.breakroomsdis1 {
    left: -70;
}

.breakrooms ul::-webkit-scrollbar,
.videoSection::-webkit-scrollbar,
.mesage .msgbody::-webkit-scrollbar,
.friends .msgbody::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.all-users2::-webkit-scrollbar {
    width: 10px;
}

.breakrooms ul::-webkit-scrollbar-track,
.videoSection::-webkit-scrollbar-track,
.mesage .msgbody::-webkit-scrollbar-track,
.friends .msgbody::-webkit-scrollbar-track,
.all-users2::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(250, 249, 249, 0.3);
}

.breakrooms ul::-webkit-scrollbar-thumb,
.videoSection::-webkit-scrollbar-thumb,
.mesage .msgbody::-webkit-scrollbar-thumb,
.friends .msgbody::-webkit-scrollbar-thumb,
.all-users2::-webkit-scrollbar-thumb {
    background-color: rgb(5, 108, 243);
    outline: 1px solid rgb(40, 113, 207);
}

.breakrooms button {
    width: 100%;
    outline: none;
    font-size: 24px;
    margin-bottom: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

.breakrooms h4 {
    margin-top: 10px;
    border-width: 1px 0px 2px 0px;
    /* border-style: solid; */
    padding: 5px;
    cursor: pointer;
}

.breakrooms .displayed {
    display: none;
}

.breakrooms ul {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 5px 5px;
    margin-bottom: 7px;
    overflow-y: scroll;
    height: 150px;
}

.breakrooms ul li {
    list-style: none;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    transition: all .3s ease-in-out;
}

.breakrooms ul li:hover {
    border: 1px solid rgb(179, 176, 176);
}

.back .graph {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    margin: 5px;
    width: 100%;
}

.back h4 {
    margin: 0px 5px;
    margin-top: 10px;
    border-bottom: 1px solid gray;
}

.back .ress {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    padding: 0px 10px;
}

.back .ress span {
    position: relative;
    top: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;
    color: white;
    /* animation: results 3s ease-in-out infinite; */
}

.back .ress span:first-child {
    animation: results1 1.5s ease-in-out infinite;
}

.back .ress span:nth-child(2) {
    animation: results2 1.5s linear infinite;
}

.back .ress span:last-child {
    animation: results3 1.5s ease infinite;
}

@keyframes results1 {

    0%,
    100% {
        top: 0px;
    }

    25% {
        top: 10px;
    }

    50% {
        top: 15px;
    }

    75% {
        top: 30px;
    }
}

@keyframes results2 {

    0%,
    100% {
        top: 0px;
    }

    25% {
        top: 15px;
    }

    50% {
        top: 25px;
    }

    75% {
        top: 45px;
    }
}

@keyframes results3 {

    0%,
    100% {
        top: 0px;
    }

    25% {
        top: 7px;
    }

    50% {
        top: 12px;
    }

    75% {
        top: 40px;
    }
}

.graph span {
    width: 20px;
    background-color: black
}

.graph .x-axis {
    /* left:20px; */
    height: 200px;
    width: 4px;
}

.graph .q1 {
    left: 15%;
    bottom: 4px;
    height: 70%;
    position: absolute;
}

.graph .q2 {
    height: 35%;
    position: absolute;
    left: 45%;
    bottom: 4px;
}

.graph .q3 {
    height: 50%;
    position: absolute;
    bottom: 4px;
    left: 75%;
}

.graph span:last-child {
    width: 90%;
    height: 4px;
}

body {
    perspective: 600px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.mainsec {
    display: flex;
    justify-content: center;
}

.cards {
    width: 280px;
    height: 320px;
    position: absolute;
    left: -400px;
    bottom: 12vh;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    z-index: 5;
}

.cardshow {
    animation: card 1.8s ease-in forwards;
}

@keyframes card {
    0% {
        left: -200px;
        bottom: 12vh;

    }

    25% {
        left: -150px;
        bottom: 12vh;
    }

    50% {
        left: -50px;
        bottom: 12vh;
    }

    75% {
        left: 0px;
        bottom: 12vh;
    }

    100% {
        left: 0px;
        bottom: 0vh;
    }
}

.cards>div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #EEE;
    text-align: center;
    color: #444;
    font-family: Arial;
    border: 1px solid #CCC;
}

.cards .front {
    z-index: 2;
    backface-visibility: hidden;
    padding: 5px;
}

.cardrotate {
    transform: rotatex(180deg);
}

.cardrotatex {
    transform: rotatex(0deg);
}

.cards .front h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    border-bottom: 1px solid;

}

.cards .front p {
    width: 80%;
    margin-top: 10px;
    padding-left: 30px;
    margin-top: 0 auto;
}

.cards .front span {
    display: inline-block;
    color: #080;
    font-weight: bold;
    text-align: start;
    font-size: 18px;
}

.cards .front .question input {
    width: 90%;
    outline: none;
    font-size: 20px;
    text-align: center;
    border: 1px solid #080;
    border-radius: 5px;
}

.chosse {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.chosse div {
    padding: 2px;
    margin-left: 10px;
    font-size: 18px;
}

.chosse div label {
    margin: 0px 10px;
}

.cards .back {
    z-index: 1;
    backface-visibility: hidden;
    transform: rotatex(180deg);
}

.action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 5px;
}

.action input {
    width: 100px;
    font-size: 18px;
    color: white;
    padding: 3px 5px;
    outline: none;
    border: 1px solid white;
}

.backs {
    position: absolute;
    left: 2px;
    outline: none;
    padding: 0px 2px;
    border: 1px solid white;
    top: 0;
    background-color: rgb(245, 71, 28);
}

.backs i {
    color: white;
}

.action input:first-child {
    background-color: #080;
}

.action input:last-child {
    background-color: rgb(54, 120, 241)
}

.vidAndMessAndFri {
    width: 100%;
    display: flex;
    height: calc(100vh - 140px);
}

.mainscreem {
    width: 100%;
    display: flex;
    flex-direction: row;
    transition: all .4s;
}

.all-user-normal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: all .4s;
}

.all-users {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: 100%;
    right: 0;
    margin-top: 15px;
}

.all-users2 {
    display: flex;
    flex-direction: column;
    width: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.uservideo {
    width: calc(100% - 250px);
}

.disp-none {
    display: none;
}

.uservideo .user {
    width: 100%;
    height: 100%;
}

.uservideo .v-black {
    opacity: 0;
}

.uservideo span,
.uservideo button {
    display: none;
}

.uservideo .user {
    border: none;
}

.otherScreens {
    width: 0;
    height: calc(100vh - 140px);
}

.all-users::-webkit-scrollbar {
    /* width: 3px; */
    height: 0px;
}

.all-users::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(250, 249, 249, 0.3);
}

.all-users::-webkit-scrollbar-thumb {
    background-color: rgb(5, 108, 243);
    outline: 1px solid rgb(40, 113, 207);
}

.N-P-button {
    border: none;
}

.next {
    right: 0px;
}

.next button,
.prev button {
    border: none;
    outline: none;
    height: 100%;
    width: 50px;
    background-color: #E8E8F1;
}

.next button:hover,
.prev button:hover,
.prev button i:hover,
.next button i:hover {
    border: none;
}

.next button i,
.prev button i {
    color: black;
    font-size: 35px;
    padding: 0px 10px;
}

.prev {
    left: 0px;
}

.user,
video {
    width: 250px;
    height: 140px;
    position: relative;
    border: 1px solid;
    margin: 1px;
    transition: all .3s;
}

.v-black {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 26, 24, 0.623);
    transition: all .3s;
}

.v-black:hover {
    background-color: rgba(24, 26, 24, 0.9);
}

.user video {
    width: 100%;
    height: 100%;
}

.user span {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    color: white;
    font-size: 1.1rem;
    overflow: hidden;
    transform: translate(-50%, -50%);
}
.user button {
    position: absolute;
    bottom: 5px;
    right: 10px;
    background-color: transparent;
    border: none;
}

.user button i {
    color: white;
}

.user button:hover,
.user i:hover {
    color: white;
    border: none;
    outline: none;
}

.mesage,
.friends {
    position: absolute;
    top: 0px;
    border: 1px solid;
    border-radius: 10px;
    height: calc(100vh - 140px);
    right: 0px;
    transition: all .4s;
    width: 0px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh calc(100% - 20vh) 10vh;
    grid-template-areas:
        "headding"
        "body"
        "foots";
}

.mesage .headname,
.friends .headname {
    grid-area: headding;
    border-radius: 0px 0px 10px 10px;
    font-size: 1.8rem;
    text-align: center;
    padding-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.mesage .msgbody,
.friends .msgbody {
    grid-area: body;
    /* border: 1px solid white; */
    overflow-y: scroll;
}

.friends .msgbody {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2px 5px;
}

.userfriend {
    border: 1px solid;
    display: flex;
    align-items: center;
    padding: 2px 5px;
    margin: 5px 0px;
    border-radius: 5px;
}

.userfriend img {
    border: 1px solid;
    border-radius: 50%;
}

.userfriend label {
    color: rgb(54, 53, 53);
    padding: 0px 10px;
    font-size: 18px;
    font-family: Arial;
}

.mesage .fotmsg,
.friends .fotmsg {
    grid-area: foots;
    border-radius: 20px 20px 0px 0px;
}

.mesage .fotmsg {
    display: grid;
    /* grid-template-rows: 4vh 7vh; */
}

.hostmessage,
.particmessage {
    display: flex;
    margin: 10px 10px;
    border: 1px solid;
    padding: 10px 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif
}

.hostmessage {
    justify-content: flex-start;
    border-radius: 20px 50px 50px 20px;
}

.particmessage {
    justify-content: flex-end;
    border-radius: 50px 20px 20px 50px;
}

.msgActions {
    display: grid;
    grid-template-columns:150px 40px 50px 10px;
    margin: 10px 5px;
    transition: all .5s;
    align-items: center;
}

.msgActions input[type="text"] {
    border: 1px solid #444;
    outline: none;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    height: 30px;
}

.uploadFilePers {
    font-size: 16px;
}

.msgActions button {
    border: none;
    background-color: transparent;
}

.msgActions button:hover {
    border: none;
}

 .msgActions button i{
    font-size: 25px;
} 
.emoji{
    position: absolute;
    width: 200px;
    background-color: #eeeeee;
    bottom: 6vh;
    left: 0px;
    border: 1px solid #dfdbdb;
    border-radius: 15px;
}
.hide-imo{
   display: none;
}
.emoji button{
    border-radius: 50%;
    border: none;
}
.emoji button:hover{
    border: none;
    outline: none;
}
.emoji button i{
    color: #929200;
}
.disp {
    width: 250px;
    right: 0px;
}

.yellow {
    color: yellow;
}

.hide {
    width: 0px;
    right: -999px;
    display: none;
}

.width {
    width: calc(100% - 250px);
}

.uservideo .text-speech {
    max-height: 20%;
    width: 90%;
    position: absolute;
    bottom: 0px;
    left: 40%;
    transform: translate(-50%, -10%);
    /* border: 2px solid red; */
    padding: 15px 20px;
    font-size: 20px;
    color: white;
    width: 50%;
    overflow: hidden;
}

.selectOptiion{
    position: absolute;
    right: 18%;
    display: flex;
    flex-direction: column;
    border: 1px solid #cecece;
    padding: 5px 10px;
    background-color: #EEEEEE;
}
.selectOptiion button{
    margin-bottom: 5px;
}
.dspnoneopt{
    display: none;
}

.formStyle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* padding: 5px; */
    align-items: center;
}
.formStyle button{
    margin: 0px 5px;
}

@media (max-width: 540px) {
    .logo>span {
        font-size: 45px;
    }

    .username span {
        font-size: 16px;
    }

    i {
        font-size: 22px;
    }

    .breakrooms {
        width: 150px;
    }

    .breakrooms ul li {
        font-size: 18px;
    }

    .breakrooms .text {
        font-size: 16px;
    }

    .breakrooms h4 {
        font-size: 20px;
    }

    .user {
        width: 160px;
        height: 120px;
    }

    .all-users2 .user {
        width: 200px;
        height: 110px;
    }

    .user span,
    .user button i {
        font-size: 16px;
    }

    .next button,
    .prev button {
        width: 30px;
    }

    .next button i,
    .prev button i {
        font-size: 25px;
    }
}

.meeting-info {
    position: absolute;
    margin: 0px 70px;
    background-color: #EEE;
    z-index: 3;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    border: 2px solid white;
    animation: displayinfo 1.5s forwards;
}

@keyframes displayinfo {
    0% {
        left: -100px;
    }

    25% {
        left: 100px;
    }

    50% {
        left: 50px;
    }

    75% {
        left: 30px;
    }

    100% {
        left: 0px;
        border-radius: 10px;
    }
}

.selectOptiion{
    position: absolute;
    top: -14vh;
    right: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #cecece;
    padding: 5px 10px;
    background-color: #EEEEEE;
}
.dspnoneopt{
    display: none;
}
.selectOptiion button{
    margin-bottom: 5px;
}

.meeting-d-none {
    display: none;
}

.coloryello {
    color: gold;
}

.meeting-info label {
    text-align: start;
    padding-left: 10px;
}

.meetin-info button {
    border: none;
}

@media (max-width: 480px) {
    .username span {
        display: none;
    }

    .logo>span {
        font-size: 30px;
    }

    i {
        font-size: 20px;
    }

    .breakrooms {
        width: 120px;
        overflow: hidden;
    }

    .breakrooms ul li {
        font-size: 14px;
    }

    .breakrooms .text {
        font-size: 14px;
    }

    .breakrooms h4 {
        font-size: 18px;
    }

    .user {
        width: 140px;
        height: 100px;
    }

    .user span,
    .user button i {
        font-size: 14px;
    }

    .next button,
    .prev button {
        width: 25px;
    }

    .next button i,
    .prev button i {
        font-size: 20px;
        padding: 0px 2px;
    }

    .all-users2 .user {
        width: 180px;
        height: 100px;
    }
}

table i{
    font-size: 16px;
}
@media (max-width : 320px) {
    .logo>span {
        font-size: 20px;
    }

    .all-users2 .user {
        width: 100%;
        /* height: 150px; */
    }

    .all-users2 .user video {
        display: none;
    }
}

@media (max-width : 315px) {
    .logo>span {
        display: none;
    }
}